:root {
  --main-font: Roboto, sans-serif;
  --secondary-font: Raleway, sans-serif;
  --title-dark-theme-color: #ffffff;
  --title-light-theme-color: #212121;
  --text-theme-color: #757575;
  --text-dark-theme-color: rgba(255, 255, 255, 0.6);
  --accent-color: #2196f3;
}

body {
  background-color: #ffffff;
  color: #757575;
  font-family: Roboto, sans-serif;
  font-size: 14px;
}

ul {
  list-style: none;
}

/*logo*/

.logo-decoration {
  text-decoration: none;
}

.logo,
.logo-studio {
  color: var(--accent-color);
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo-studio {
  color: var(--title-light-theme-color);
}

/*navigation*/

.link-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-light-theme-color);
  text-decoration: none;
}

.link-item:hover,
.link-item:focus {
  color: var(--accent-color);
}

.info-kontakt {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-theme-color);
  text-decoration: none;
}

.info-kontakt:hover,
.info-kontakt:focus {
  color: var(--accent-color);
}

/*hero*/

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  /*color: var(--title-dark-theme-color);*/
}

.button {
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--title-dark-theme-color);
}

/*our advantages*/

.title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-light-theme-color);
}

/*what we do*/
.section-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-light-theme-color);
}

.title-list {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  /*color: var(--title-dark-theme-color);*/
}

/*our team*/
.employees {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-light-theme-color);
}

.employees-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

/*clients*/

/*footer*/
.footer {
  background-color: #2f303a;
}

.logo-footer {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--title-dark-theme-color);
}

.footer-info,
.footer-adres {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--title-dark-theme-color);
}

.footer-adres {
  color: var(--text-dark-theme-color);
}

.pic-footer {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-dark-theme-color);
}

/*portfolio*/

.button-list:hover,
.button-list:focus {
  background-color: var(--accent-color);
  color: var(--title-dark-theme-color);
}

.button-list {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
}

.subtitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-light-theme-color);
  text-decoration: none;
}

.description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--text-theme-color);
  text-decoration: none;
}
