html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --main-font: Roboto, sans-serif;
  --secondary-font: Raleway, sans-serif;
  --title-dark-theme-color: #ffffff;
  --title-light-theme-color: #212121;
  --text-theme-color: #757575;
  --text-dark-theme-color: rgba(255, 255, 255, 0.6);
  --accent-color: #2196f3;
}

body {
  background-color: #ffffff;
  color: #757575;
  font-family: Roboto, sans-serif;
  font-size: 14px;
}

ul {
  list-style: none;
}

/*logo*/

.logo {
  margin-left: 215px;
}

.logo-decoration {
  padding-top: 24px;
  padding-bottom: 25px;
  text-decoration: none;
}

.logo,
.logo-studio {
  color: var(--accent-color);
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo-studio {
  margin-right: 85px;
  color: var(--title-light-theme-color);
}

/*navigation*/

.navigation {
  border: 1px solid red;
  display: flex;
}

.link {
  padding: 0;
  margin: 0;
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
}

.link-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-light-theme-color);
  text-decoration: none;
}

.general:not(:last-child) {
  margin-right: 50px;
}

.link-item:hover,
.link-item:focus {
  color: var(--accent-color);
}

.info {
  padding: 0;
  margin: 0;
  padding-top: 32px;
  padding-bottom: 32px;
  border: 1px solid red;
  display: flex;
  margin-left: auto;
}

.info-kontakt {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-theme-color);
  text-decoration: none;
}

.icon {
  margin-right: 10px;
}

.info-item:not(:last-child) {
  margin-right: 30px;
}

.info-kontakt:hover,
.info-kontakt:focus {
  color: var(--accent-color);
}

.conteiner {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

/*hero*/

.hero {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border: 1px solid chartreuse;
  width: 1600px;
}

.hero-title {
  padding: 0;
  margin-top: 0;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  /*color: var(--title-dark-theme-color);*/
}

h1,
h2 {
  margin: 0;
}

.hero-title {
  padding-top: 200px;
  padding-bottom: 30px;
}

.button {
  margin-bottom: 200px;
  border-radius: 4px;
  min-width: 200px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 32px;
  padding-right: 32px;
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--title-dark-theme-color);
}

/*our advantages*/

.primery {
  display: flex;
  margin: 0;
  padding: 0;
}

.primary-margin:not(:last-child) {
  margin-right: 30px;
}

.section {
  border: 1px solid red;
  padding-top: 119px;
  padding-left: 15px;
  padding-right: 15px;
}

.text {
  width: 270px;
  margin: 0;
}

.title {
  display: flex;
  padding-top: 55px;
  padding-bottom: 10px;
}

.title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-light-theme-color);
}

/*what we do*/

.team,
.section,
.clients {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
}

.section-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-light-theme-color);
}

.title-list {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  /*color: var(--title-dark-theme-color);*/
}

/*our team*/
.employees {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-light-theme-color);
}

.employees-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

/*clients*/

/*footer*/
.footer {
  background-color: #2f303a;
}

.logo-footer {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--title-dark-theme-color);
}

.footer-info,
.footer-adres {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--title-dark-theme-color);
}

.footer-adres {
  text-decoration: none;
  color: var(--text-dark-theme-color);
}

.pic-footer {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-dark-theme-color);
}

/*portfolio*/

.button-list:hover,
.button-list:focus {
  background-color: var(--accent-color);
  color: var(--title-dark-theme-color);
}

.button-list {
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
}

.subtitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-light-theme-color);
  text-decoration: none;
}

.description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--text-theme-color);
  text-decoration: none;
}
